
 <!-- <app-loading-button (action)="submitClick.handleClick($event)" [(disabled)]="disableAll" ></app-loading-button> -->


<!-- <app-loading-button (sSubmitClick)="doActionA($event)" [(disabled)]="disableAll" ></app-loading-button> -->



<!-- <app-loading-button (action)="doActionB($event)" [(disabled)]="disableAll" ></app-loading-button> -->
<app-loading-button (loadingButtonClick)="doActionA($event)"  ></app-loading-button>

<!-- <app-loading-button (loadingButtonClick)="doActionB($event)" [(disabled)]="disableAll" ></app-loading-button> -->

<!-- <app-loading-button (sSubmitClick)="doActionB($event)" [(disabled)]="disableAll" ></app-loading-button> -->



<!-- <app-loading-button (action)="doActionB($event)" [(disabled)]="disableAll" ></app-loading-button> -->



